# Server Configuration
PORT=5001
NODE_ENV=development

# Database Configuration
MONGODB_URI=mongodb://127.0.0.1:27017/lms-db

# JWT Security Secrets
JWT_ACCESS_SECRET=lms_access_token_secret_key_change_me_in_prod_123!
JWT_REFRESH_SECRET=lms_refresh_token_secret_key_change_me_in_prod_456!

# Cors Origin Client Link
CLIENT_URL=http://localhost:3000
